.card-mi {
  border-radius: 10px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.1px);
  -webkit-backdrop-filter: blur(7.1px);
  border: 1px solid rgba(255, 255, 255, 0.14);
  padding-top: 50px;
  padding-bottom: 50px;
  background: rgba(255, 255, 255, 0.15);
}
